---
import Layout from '../layouts/Layout.astro';
import Navbar from "../components/Navbar.astro";

---

<Layout  title="Kerala Startup Mission"></Layout>

   

    <div class="page-wrapper">

        <Navbar></Navbar>



     
        <!-- Checkout Start -->
        <section class="checkout-page">
            <div class="container">
               
                <div class="checkout-page__details">
                    <h2 class="checkout-page__details__title">LeapX 2024 Batch - Applications Now Open!

                    </h2>
                   
                </div><!-- /.checkout-page__details -->
                <div class="checkout-page__your-order">
                    <div class="flex md:flex-row flex-col gap-4">
                        <div class="md:w-2/3 w-full">
                            <table class="checkout-page__order-table">
                                
                                <tbody>
                                    <tr>
                                        <td class="pro__title">Program Duration</td>
                                        <td class="pro__price"><span class="text-black">November 2024 to May 2025.
                                        </span></td>
                                    </tr>
                                    <tr>
                                        <td class="pro__title">Application Deadline</td>
                                        <td class="pro__price"><span class="text-black">November 15, 2024. </span><br><span class="text-sm italic">Late applications will not be accepted.</span></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                     
                    </div>
                </div>
                <div class="item tab active-tab" id="add">
                    <p class="benefits-two__text text-xl font-semibold">How to Apply
                    </p><!-- /.benefits-two__text -->
                    <ul class="benefits-two__list list-unstyled">
                        <li class="benefits-two__list__item">Submit your application online.
                        </li><!-- /.benefits-two__list__item -->
                        <li class="benefits-two__list__item">On-time Applicants: Will receive a response by November 23, 2024.
                        </li><!-- /.benefits-two__list__item -->
                    </ul><!-- /.benefits-two__list -->
                </div><!-- /.item -->

                <div class="item tab active-tab" id="add">
                    <p class="benefits-two__text text-xl font-semibold">Interview Process

                    </p><!-- /.benefits-two__text -->
                    <ul class="benefits-two__list list-unstyled">
                        <li class="benefits-two__list__item">Shortlisted applicants will be invited for an interview (primarily via video in November).

                        </li><!-- /.benefits-two__list__item -->
                        <li class="benefits-two__list__item">Final decisions are typically made within 7 days, with feedback provided.

                        </li><!-- /.benefits-two__list__item -->
                    </ul><!-- /.benefits-two__list -->
                </div><!-- /.item -->

                <div class="hero-three__btn wow  pt-10" data-wow-duration='1500ms' data-wow-delay='800ms'>
                    <a href="https://startups.startupmission.in/application/leapx" target="_blank" class="hostom-btn">Apply Now</a>
                </div>
            </div>
        </section>
        <!-- Checkout End -->

        <footer class="main-footer main-footer__two">
            <div class="main-footer__two__bg" style="background-image: url(assets/images/shapes/footer-shape-2-1.png);"></div>

            <div class="main-footer__middle main-footer__middle--two">
                <div class="container">
                    <div class="row flex items-center justify-center mx-auto">

                        <div class="col-md-6 col-xl-4">
                            <div class="footer-widget--info footer-widget__info__two flex flex-col">
                                <a href="" class="footer-widget__logo mx-auto items-center justify-center">
                                    <img src="/img/logo-white.svg" width="158" alt="footer logo">
                                </a><!-- /.footer-widget__logo -->
                                <p class="footer-widget__text text-center text-white">G3B, Thejaswini, Technopark Rd, Technopark Campus, Karyavattom, Thiruvananthapuram, Kerala 695581</p><!-- /.footer-widget__text -->
                               
                            </div><!-- /.footer-widget -->
                        </div><!-- /.col-md-6 -->

                        <div class="col-md-6 col-xl-2 items-center justify-center flex flex-col mx-auto">
                            <div class="footer-widget--company footer-widget__company__two">
                                <ul class="list-unstyled footer-widget__links text-white">
                                    <li class="footer-widget__links__item"><a href="/" class="text-white">Home</a></li>
                                    <li class="footer-widget__links__item"><a href="#about" class="text-white">About</a></li>
                                    <li class="footer-widget__links__item"><a href="#What_We_Offer" class="text-white">What We Offer</a></li>
                                </ul><!-- /.list-unstyled footer-widget__links -->
                            </div><!-- /.footer-widget -->
                        </div><!-- /.col-md-6 -->

                        <div class="col-md-6 col-xl-2 items-center justify-center flex flex-col mx-auto">
                            <div class="footer-widget--company footer-widget__company__two">
                                <ul class="list-unstyled footer-widget__links">
                                    <li class="footer-widget__links__item"><a href="#Eligibility" class="text-white">Eligibility</a></li>
                                    <li class="footer-widget__links__item"><a href="#Contact" class="text-white">Contact</a></li>
                                    <li class="footer-widget__links__item"><a href="/applynow" class="text-white">Apply for LeapX</a></li>

                                </ul><!-- /.list-unstyled footer-widget__links -->
                            </div><!-- /.footer-widget -->
                        </div><!-- /.col-md-6 -->

                        <div class="col-md-6 col-xl-2 items-center justify-center flex flex-col mx-auto">
                            <div class="footer-widget--right footer-widget__right__two">
                                <div class="footer-widget__social mx-auto items-center justify-center">
                                    <a href="https://www.facebook.com/keralastartupmission" target="_blank"><i class="fab fa-facebook-f" aria-hidden="true"></i> <span class="sr-only">Facebook</span> </a>
                                    <a href="https://x.com/startup_mission" target="_blank"><i class="fab fa-twitter" aria-hidden="true"></i><span class="sr-only">Twitter</span></a>
                                </div><!-- /.footer-widget__social -->
                            </div><!-- /.footer-widget -->
                        </div><!-- /.col-md-6 -->
                    </div><!-- /.row -->
                </div><!-- /.container -->
            </div><!-- /.main-footer__middle -->
        </footer><!-- /.main-footer -->
    </div><!-- /.page-wrapper -->



    <div class="mobile-nav__wrapper">
        <div class="mobile-nav__overlay mobile-nav__toggler"></div>
        <!-- /.mobile-nav__overlay -->
        <div class="mobile-nav__content">
            <span class="mobile-nav__close mobile-nav__toggler"><i class="fa fa-times"></i></span>

            <div class="logo-box">
                <a href="/" aria-label="logo image"><img src="/img/logo-white.svg" class="w-20" alt="logo image"></a>
            </div>

            <div class="mobile-nav__container"></div>

            
            <div class="mobile-nav__social">
                <a href=""><i class="fab fa-facebook-f" aria-hidden="true"></i> <span class="sr-only">Facebook</span> </a>
                <a href=""><i class="fab fa-twitter" aria-hidden="true"></i><span class="sr-only">Twitter</span></a>
                <a href=""><i class="fab fa-instagram" aria-hidden="true"></i> <span class="sr-only">Instagram</span> </a>
            </div><!-- /.mobile-nav__social -->
        </div>
        <!-- /.mobile-nav__content -->
    </div>
    <div class="search-popup">
        <div class="search-popup__overlay search-toggler"></div>
        <!-- /.search-popup__overlay -->
        <div class="search-popup__content">
            <form role="search" method="get" class="search-popup__form" action="#">
                <input type="text" id="search" placeholder="Search Here...">
                <button type="submit" aria-label="search submit" class="hostom-btn hostom-btn--base">
                    <span><i class="icon-search"></i></span>
                </button>
            </form>
        </div>
        <!-- /.search-popup__content -->
    </div>
    <!-- /.search-popup -->

    <a href="#" data-target="html" class="scroll-to-target scroll-to-top">
        <span class="scroll-to-top__text">back top</span>
        <span class="scroll-to-top__wrapper"><span class="scroll-to-top__inner"></span></span>
    </a>


</Layout>

<script src="/assets/js/hostom.js"  is:inline></script>
