 
 
 <header class="main-header main-header--three sticky-header sticky-header--normal">
            <div class="container-fluid">
                <div class="main-header__inner">
                    <div class="main-header__logo">
                        <a href="index.html">
                            <img src="/img/logo.svg" alt="hostom HTML" class="w-20">
                        </a>
                    </div><!-- /.main-header__logo -->

                    <nav class="main-header__nav main-menu">
                        <ul class="main-menu__list">

                            <li>
                                <a href="/">Home</a>
                            </li>
                           
                            <li>
                                <a href="/#about">About</a>
                            </li>

                            <li>
                              <a href="/#What_We_Offer">What We Offer</a>
                            </li>

                            <li>
                              <a href="/#Eligibility">Eligibility</a>
                            </li>

                            <li>
                              <a href="/#Contact">Contact</a>
                            </li>

                            
                        </ul>
                    </nav><!-- /.main-header__nav -->

                    <div class="main-header__right bg-none py-2">
                        <div class="hero-three__btn wow md:flex hidden" data-wow-duration='1500ms' data-wow-delay='800ms'>
                            <a href="applynow" class="hostom-btn">Apply for LeapX</a>
                        </div>
                        <div class="mobile-nav__btn mobile-nav__toggler">
                            <span></span>
                            <span></span>
                            <span></span>
                        </div><!-- /.mobile-nav__toggler -->
                    </div><!-- /.main-header__right -->
                </div><!-- /.main-header__inner -->
            </div><!-- /.container-fluid -->
        </header><!-- /.main-header -->
